.gradle
.idea
/build
/gradle
/conf
/server/.idea
/server/conf
/server/build
/WaytousFramework/build
/local.properties
all.js
all.sourcemap.json
deploy_aws_beta.sh
deploy_aws_prod.sh
generate_letsencrypt_jks.sh
waytous-beta.log