.gradle
.idea
/build
/gradle
/conf
/server/.idea
/server/conf
/server/build
/WaytousFramework/build
/local.properties
all.js
all.sourcemap.json
aws*.sh
generate_letsencrypt_jks.sh
waytous-beta.log
/out/
/waytous.log
