/**
 * Created 1/19/17.
 */

h2 {
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 10px;
    flex: 0 0 auto;
    width: 90%;
    flex-flow: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.layout {
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.inactive {
    font-style: italic;
    font-size: smaller;
}
.disabled {
    color: darkgray;
}
.selected {
    background-color: lightcyan;
}
.highlight {
    transition: 0.4s ease-in-out all;
}
.highlight:hover {
    transition: 0.1s ease-in-out all;
}
.changed {
    color: indianred;
    background-color: cornsilk;
}
.th.option {
    text-align: left;
    width: 250px;
}
.td.th {
    text-align: left;
    width: 250px;
    background: #ffffdd;
}
.td.option {
    text-align: left;
    border: none;
}
.td.option input {
    width: 250px;
}
.question {
    font-weight: bold;
    color: red;
}
.create-dialog {
    width: 400px;
    max-width: 90%;
}
.create-dialog-button-generate, .group-button-set-password {
    display: inline-block;
    font-size: x-small;
    padding: 2px;
    margin-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: darkslategray;
    background-color: antiquewhite;
}
.settings-dialog {
    width: 400px;
    max-width: 90%;
}
.logs-header {
    padding-top: 5px;
}
div.question {
    display: flex;
    font-size: small;
    padding: 5px;
}
.logs-header-input {
    margin: 4px;
    width: 30px;
}
.table {
    margin-bottom: 5px;
}
.logs {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 5px;
    flex: 1 1 auto;
    max-width: 100%;
    width: 100%;
}
.table-placeholder {
    /*border: none;*/
}
.logs-caption {
    flex: 0 0 auto;
    justify-content: center;
    display: flex;
    background: #ffffdd;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    font-weight: bold;
    cursor: default;
}
.logs-body {
    height: 100%;
    /*display: block;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    font-size: 12px;*/
    font-family: monospace;
}
.buttons {
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: initial;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    flex: 0 0 auto;
}
.button-inline {
    stroke: darkslategray;
    background-color: transparent;
    outline: none;
    border: 0;
    width: 32px;
    height: 27px;
    flex: 0 0 32px;
}
.welcome-input {
    width: 100%;
}
.chat-dialog {
    right: 10px;
    bottom: 10px;
    width: 30%;
    height: 300px;
}
.chat-dialog-messages {
    font-size: x-small;
}
.chat-dialog-message {
    display: block;
    text-align: left;
}
.chat-dialog-message-content {
    display: flex;
    flex-wrap: wrap;
}
.chat-dialog-message-group {
    flex: 0 0 80px;
    cursor: pointer;
}
.chat-dialog-message-group:hover {
    color: blue;
}
.chat-dialog-message-name {
    flex: 0 0 100px;
    font-weight: bold;
    cursor: pointer;
}
.chat-dialog-message-name:hover {
    color: blue;
}
.chat-dialog-message-timestamp {
    flex: 1 1;
    text-align: right;
}
.chat-dialog-message-body {
    padding-bottom: 8px;
    white-space: pre-wrap;
    flex: 0 0 100%;
}
.two-divs {
    display: flex;
    width: 100%;
    flex: 0 0 auto;
}
.summary-place {
    flex: 1 1 100%;
}
.map-place {
    margin-top: 22px;
    flex: 1 1 100%;
}
.map-place-switch {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
}
.map-place.modal {
    width: 40%;
    height: 30%;
    position: fixed;
    right: 5px;
    border: 0;
}
.map {
    width: 100%;
    height: 100%;
    border-style: groove;
    border-width: 1px;
}
.statistics-chart{
    padding: 10px;
    width: 100%;
}
.admin-splash-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: azure;
}
.admin-splash-logo {
    width: 100px;
    height: 100px;
}
.admin-splash-title {
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
}
.admin-splash-subtitle {

}
.actionbar-select-lang {
    display: none;
}

.tree {
    margin-top: 22px;
}
.tree-pages-root {
    display: flex;
}
.tree-pages-item-leaf {
    display: flex;
    /*width: 100%;*/
}
.tree-pages-item-title {
    text-decoration: none;
    color: inherit;
}
.tree-pages-category {
    display: flex;
}

.page-edit-dialog {
    width: 90%;
    /*max-width: 90%;*/
}


@media screen and (max-width: 1000px) {
    .buttons {
        flex-wrap: wrap;
        margin-bottom: 5px;
        font-size: initial;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    h2 .buttons {
        width: auto;
        flex-flow: row;
    }

    button {
        font-size: 16px;
        min-width: 100px;
        border-style: solid;
        border-radius: 10px;
        margin: 1px;
        padding: 10px;
        flex: 1 0 50px;
        white-space: nowrap;
    }

    .content {
        max-width: 100%;
    }

    .actionbar {
        flex: 0 0 50px;
        justify-content: center;
    }
    .actionbar-label {
        bottom: auto;
        padding-left: 50px;
    }
    .actionbar-label-title {
        font-size: 16px;
    }

    /* CLASSES */
    .alert {
        margin: 0px;
    }
    .layout {
        padding: 0px;
        /*position: fixed;
        top: 50px;*/
        bottom: 0px;
        min-height: unset;
        height: auto;
    }
    .td.th {
        width: 50%;
        min-width: 120px;
    }
    .th.option {
        text-align: left;
        width: 40%;
    }
    .td.option input {
        width: 100%;
        border-style: solid;
        border-width: 1px;
        font-size:16px;
        height: 25px;
    }
    div.question {
        flex: 0 0 100%;
    }
    .logs-header-input {
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: antiquewhite;
    }
    .two-divs {
        flex-direction: column;
    }
    .map-place {
        display: none;
    }

    .account-history .thead, .accounts .thead, .statistics .thead, .groups .thead, .group-users .thead, .user-locations .thead {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        flex-wrap: wrap;
    }
    .account-history .tbody .tr, .accounts .tbody .tr, .statistics .tbody .tr, .groups .tbody .tr, .group-users .tbody .tr, .user-locations .tbody .tr {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        font-size: 12px;
        padding: 5px;
    }
    .account-history .tbody .td, .accounts .tbody .td, .statistics .tbody .td, .groups .tbody .td, .group-users .tbody .td, .user-locations .tbody .td {
        display: block;
        border: none;
        padding: 0;
        margin: 0;
    }

    .account-history .tbody .td:nth-child(1) {
        font-weight: initial;
        flex: 0 0 50%;
        order: 2;
        text-align: end;
    }
    .account-history .tbody .td:nth-child(2) {
        font-weight: initial;
        flex: 0 0 100%;
        order: 3;
    }
    .account-history .tbody .td:nth-child(2)::before {
        content: "Action: ";
    }
    .account-history .tbody .td:nth-child(3) {
        font-weight: initial;
        flex: 0 0 50%;
        order: 1;
    }
    .account-history .tbody .td:nth-child(3)::before {
        content: "Key: ";
    }
    .account-history .tbody .td:nth-child(4) {
        font-weight: initial;
        flex: 0 0 100%;
        order: 4;
    }
    .account-history .tbody .td:nth-child(4)::before {
        content: "Value: ";
    }

    .accounts .tbody .td:nth-child(1) {
        font-weight: initial;
        flex: 0 0 100%;
        order: 3;
        min-height: 10px;
        font-size: 14px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .accounts .tbody .td:nth-child(2) {
        font-weight: initial;
        flex: 0 0 50%;
        order: 1;
    }
    .accounts .tbody .td:nth-child(3) {
        font-weight: initial;
        flex: 0 0 50%;
        order: 2;
        text-align: end;
    }
    .accounts .tbody .td:nth-child(4) {
        font-weight: initial;
        flex: 0 0 33%;
        order: 6;
    }
    .accounts .tbody .td:nth-child(4)::before {
        content: "perm_identity";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
        padding-right: 2px;
    }
    .accounts .tbody .td:nth-child(5) {
        font-weight: initial;
        flex: 0 0 33%;
        order: 4;
    }
    .accounts .tbody .td:nth-child(5)::before {
        content: "memory";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
        padding-right: 2px;
    }
    .accounts .tbody .td:nth-child(6) {
        font-weight: initial;
        flex: 0 0 33%;
        order: 5;
    }
    .accounts .tbody .td:nth-child(6)::before {
        content: "devices";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
        padding-right: 2px;
    }

    .statistics .tbody .td:nth-child(1) {
        font-weight: initial;
        flex: 0 0 50%;
        order: 2;
        text-align: end;
    }
    .statistics .tbody .td:nth-child(2) {
        font-weight: initial;
        flex: 0 0 50%;
        order: 1;
    }
    .statistics .tbody .td:nth-child(2)::before {
        content: "Action: ";
    }
    .statistics .tbody .td:nth-child(3) {
        font-weight: initial;
        flex: 0 0 50%;
        order: 3;
    }
    .statistics .tbody .td:nth-child(3)::before {
        content: "Group ID: ";
    }
    .statistics .tbody .td:nth-child(4) {
        font-weight: initial;
        flex: 0 0 33%;
        order: 4;
        text-align: end;
    }
    .statistics .tbody .td:nth-child(4)::before {
        content: "User ID: ";
    }
    .statistics .tbody .td:nth-child(5) {
        font-weight: initial;
        flex: 0 0 100%;
        order: 5;
    }

    .groups .tbody .td:nth-child(1) {
        flex: 0 0 50%;
        order: 3;
        font-weight: bold;
        font-size: 14px;
    }
    .groups .tbody .td:nth-child(2) {
        flex: 0 0 25%;
        order: 5;
    }
    .groups .tbody .td:nth-child(2)::before {
        content: "lock_outline";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
    }
    .groups .tbody .td:nth-child(3) {
        flex: 0 0 25%;
        order: 6;
    }
    .groups .tbody .td:nth-child(3)::before {
        content: "timer_off";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
    }
    .groups .tbody .td:nth-child(4) {
        flex: 0 0 25%;
        order: 7;
    }
    .groups .tbody .td:nth-child(4)::before {
        content: "timer";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
    }
    .groups .tbody .td:nth-child(5) {
        flex: 0 0 25%;
        order: 8;
    }
    .groups .tbody .td:nth-child(5)::before {
        content: "directions_run";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
    }
    .groups .tbody .td:nth-child(6) {
        flex: 0 0 50%;
        order: 4;
        text-align: end;
    }
    .groups .tbody .td:nth-child(6)::before {
        content: "Users: ";
    }
    .groups .tbody .td:nth-child(7) {
        flex: 0 0 50%;
        order: 1;
    }
    .groups .tbody .td:nth-child(8) {
        flex: 0 0 50%;
        order: 2;
        text-align: end;
    }

    .group-users .tbody .td:nth-child(1) {
        flex: 0 0 20%;
        order: 3;
        font-weight: bold;
        font-size: 14px;
        white-space: nowrap;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .group-users .tbody .td:nth-child(1)::before {
        content: "# ";
    }
    .group-users .tbody .td:nth-child(2) {
        flex: 0 0 60%;
        order: 4;
        font-size: 14px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .group-users .tbody .td:nth-child(3) {
        flex: 0 0 20%;
        order: 5;
    }
    .group-users .tbody .td:nth-child(4) {
        flex: 0 0 50%;
        order: 1;
    }
    .group-users .tbody .td:nth-child(5) {
        flex: 0 0 50%;
        order: 2;
        text-align: end;
    }
    .group-users .tbody .td:nth-child(6) {
        flex: 0 0 33%;
        order: 6;
    }
    .group-users .tbody .td:nth-child(6)::before {
        content: "memory";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
        padding-right: 2px;
    }
    .group-users .tbody .td:nth-child(7) {
        flex: 0 0 33%;
        order: 7;
    }
    .group-users .tbody .td:nth-child(7)::before {
        content: "devices";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
        padding-right: 2px;
    }
    .group-users .tbody .td:nth-child(8) {
        flex: 0 0 33%;
        order: 8;
    }
    .group-users .tbody .td:nth-child(8)::before {
        content: "perm_identity";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
        padding-right: 2px;
    }

    .user-locations .tbody .td:nth-child(1) {
        flex: 0 0 50%;
        order: 2;
        text-align: end;
    }
    .user-locations .tbody .td:nth-child(2) {
        flex: 0 0 50%;
        order: 1;
    }
    .user-locations .tbody .td:nth-child(3) {
        flex: 0 0 50%;
        order: 3;
    }
    .user-locations .tbody .td:nth-child(3)::before {
        content: "vertical_align_bottom";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
        padding-right: 2px;
    }
    .user-locations .tbody .td:nth-child(4) {
        flex: 0 0 50%;
        order: 4;
    }
    .user-locations .tbody .td:nth-child(4)::before {
        content: "keyboard_tab";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
        padding-right: 2px;
    }
    .user-locations .tbody .td:nth-child(5) {
        flex: 0 0 33%;
        order: 5;
    }
    .user-locations .tbody .td:nth-child(5)::before {
        content: "search";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
        padding-right: 2px;
    }
    .user-locations .tbody .td:nth-child(6) {
        flex: 0 0 33%;
        order: 6;
    }
    .user-locations .tbody .td:nth-child(6)::before {
        content: "near_me";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
        padding-right: 2px;
    }
    .user-locations .tbody .td:nth-child(7) {
        flex: 0 0 33%;
        order: 7;
    }
    .user-locations .tbody .td:nth-child(7)::before {
        content: "directions_run";
        font-family: "Material Icons";
        font-feature-settings: "liga" 1;
        font-style: normal;
        stroke: darkslategray;
        padding-right: 2px;
    }

    /* media specific classes */
    .hideable {
        display: none;
    }

}
