button:hover, button:active {
    background-color: #2e5d7d;
    color: white;
}
.actionbar-select-lang {
    background-color: #819bc7;
}
.modal {
    background-color: floralwhite;
}
.dialog-title {
    background-color: #4c93af;
}
.dialog-title-button {
    color: inherit;
}
.dialog-button {
    background-color: #4c93af;
}
.dialog-button:hover, .dialog-button:focus {
    background-color: #2e5d7d;
}
.drawer {
    background-color: azure;
}
.drawer-header {
    background: linear-gradient(135deg, #2e5d7d 0%,#32667b 54%,#819bc7 100%);
}
/* media specific classes */
@media screen and (max-width: 1000px) {
    .actionbar {
        background: linear-gradient(135deg, #2e5d7d 0%,#32667b 54%,#819bc7 100%);
    }
}
